- name: Configure HAProxy
  hosts: all
  become: yes
  tasks:
      - name: Add hosts to a new group excluding one
        ansible.builtin.add_host:
          name: "{{ item }}"
          groups: haproxy_app_group
        loop: "{{ groups['webservers'] | difference([server_that_failed]) }}"
        run_once: true
        delegate_to: haproxy
        
      - name: Deploy HAProxy configuration
        ansible.builtin.template:
          src: haproxy1.cfg.j2
          dest: /etc/haproxy/haproxy.cfg
          owner: root
          group: root
          mode: '0644'
        run_once: true
        delegate_to: haproxy
        
      - name: Restart HAProxy
        ansible.builtin.service:
          name: haproxy
          state: restarted
          enabled: true
        run_once: true
        delegate_to: haproxy
 
