- name: Configure HAProxy
  hosts: loadbalancers
  become: yes
  tasks:
  - name: Remove server entry from HAProxy config
    lineinfile:
      path: /etc/haproxy/haproxy.cfg
      regexp: "^\\s*server\\s+{{ item }}.*" # Adjust regex to match your server entry
      state: absent
    loop: "{{ haproxy_remove_nodes }}"
    notify: Restart HAProxy
    
  handlers:
    - name: Restart HAProxy
      ansible.builtin.service:
        name: haproxy
        state: restarted
        enabled: true
